body{
	font-family: Radley;
}

.wrapper{
	margin-top: 10%;
}

.citation{	
	font-weight: 400;
	font-size: 75px;
	color:#474747;
	font-style: italic;
	text-align: center;
}

.citation:before{
	content:url('img/guillemets.png');
	margin-right: 10px;
}

.citation:after{
	content:url('img/guillemets.png');
	margin-left: 10px;
	position: relative;
	top: 60px
}

.conteneur-refresh{
	text-align: center;
	margin-top: 40px;
}

.refresh{
	font-size: 37px;
	color:#5a243c;
	background-color: #e970a6;
	text-decoration: none;
	padding:25px;
	display: inline-block;
}

.nombre_expression{
	text-align:center;
	position: fixed;
	width:100%;
	bottom:20px;
	color:#aeaeae;
}

.nombre_expression span{
	font-size: 1.5em;
}